---
- name: nvim config directory
  file:
    path: ~/.config/nvim
    state: directory
  tags: [neovim, dotfiles]

- name: init.vim
  copy:
    src: "{{ playbook_dir }}/../dotfiles/vimrc"
    dest: ~/.config/nvim/init.vim
    force: yes
  tags: [neovim, dotfiles]

- name: vimrc.bundles
  copy:
    src: "{{ playbook_dir }}/../dotfiles/vimrc.bundles"
    dest: ~/.config/nvim/vimrc.bundles
    force: yes
  tags: [neovim, dotfiles]

- name: create nvim autoloads
  file:
    path: ~/.config/nvim/autoload
    state: directory
  tags: [neovim]

- name: vim-plug
  get_url:
    url: https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
    dest: ~/.config/nvim/autoload/plug.vim
  tags: [neovim]

- name: install vim plugins
  command: vim +'PlugInstall --sync' +qa
  tags: [neovim]
