---
- hosts: localhost
  vars_prompt:
    - name: ssh_passphrase
      prompt: "Enter passphrase for SSH key"
      private: yes
      confirm: yes
  tasks:
    - name: Generate SSH key
      community.crypto.openssh_keypair:
        path: ~/.ssh/id_ed25519
        type: ed25519
        passphrase: "{{ ssh_passphrase }}"
        comment: "{{ ansible_user_id }}@{{ ansible_hostname }}"
        force: no
      tags: [ssh]
    - name: apt packages
      become: yes
      apt:
        name:
          - htop
          - keychain
          - neovim
          - strace
          - silversearcher-ag
      tags: [packages]
    - name: bashrc
      copy:
        src: ../dotfiles/bashrc
        dest: ~/.bashrc
        force: yes
      tags: [dotfiles]
    - name: bash_functions
      copy:
        src: ../dotfiles/bash_functions
        dest: ~/.bash_functions
        force: yes
      tags: [dotfiles]
    - name: bash_profile
      copy:
        src: ../dotfiles/bash_profile
        dest: ~/.bash_profile
        force: yes
      tags: [dotfiles]
    - name: bash_prompt
      copy:
        src: ../dotfiles/bash_prompt
        dest: ~/.bash_prompt
        force: yes
      tags: [dotfiles]
    - name: gitignore_global
      copy:
        src: ../dotfiles/gitignore_global
        dest: ~/.gitignore_global
        force: yes
      tags: [dotfiles]
    - name: pryrc
      copy:
        src: ../dotfiles/pryrc
        dest: ~/.pryrc
        force: yes
      tags: [dotfiles]
    - name: tmux.conf
      copy:
        src: ../dotfiles/tmux.conf
        dest: ~/.tmux.conf
        force: yes
      tags: [dotfiles]
    - name: nvim config directory
      file:
        path: ~/.config/nvim
        state: directory
        owner: jimg
        group: jimg
      tags: [neovim, dotfiles]
    - name: init.vim
      copy:
        src: ../dotfiles/vimrc
        dest: ~/.config/nvim/init.vim
        force: yes
      tags: [neovim, dotfiles]
    - name: vimrc.bundles
      copy:
        src: ../dotfiles/vimrc.bundles
        dest: ~/.config/nvim/vimrc.bundles
        force: yes
      tags: [neovim, dotfiles]
    - name: create nvim autoloads
      file:
        path: ~/.config/nvim/autoload
        state: directory
      tags: [neovim]
    - name: vim-plug
      get_url:
        url: https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
        dest: ~/.config/nvim/autoload/plug.vim
      tags: [neovim]
    - name: install vim plugins
      command: vim +'PlugInstall --sync' +qa
      tags: [neovim]
        # - name: bash-my-aws
        # git:
        # repo: git@github.com:bash-my-universe/bash-my-aws.git
        # dest: ~/.bash-my-aws
