---
- hosts: localhost
  vars_prompt:
    - name: ssh_passphrase
      prompt: "Enter passphrase for SSH key"
      private: yes
      confirm: yes
  tasks:
    - name: Generate SSH key
      community.crypto.openssh_keypair:
        path: "{{ ansible_user_dir }}/.ssh/id_ed25519"
        type: ed25519
        passphrase: "{{ ssh_passphrase }}"
        comment: "{{ ansible_user_id }}@{{ ansible_hostname }}"
        force: no
      tags: [ssh]
    - name: apt packages
      become: yes
      apt:
        name:
          - htop
          - keychain
          - neovim
          - strace
          - silversearcher-ag
      tags: [packages]
    - name: Deploy dotfiles
      include_tasks: ../tasks/dotfiles.yml

    - name: Setup neovim
      include_tasks: ../tasks/neovim.yml
