---
- hosts: localhost
  vars:
    fedora_release: 32
  vars_prompt:
    - name: ssh_passphrase
      prompt: "Enter passphrase for SSH key"
      private: yes
      confirm: yes
  tasks:
    - name: Generate SSH key
      community.crypto.openssh_keypair:
        path: "{{ ansible_user_dir }}/.ssh/id_ed25519"
        type: ed25519
        passphrase: "{{ ssh_passphrase }}"
        comment: "{{ ansible_user_id }}@{{ ansible_hostname }}"
        force: no
      tags: [ssh]
    - name: dnf packages
      become: yes
      dnf:
        name:
          - 'https://download1.rpmfusion.org/free/fedora/rpmfusion-free-release-{{ fedora_release }}.noarch.rpm'
          - 'https://download1.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-{{ fedora_release }}.noarch.rpm'
          - emacs
          - ffmpeg
          - gnome-shell-extension-no-topleft-hot-corner
          - gnome-tweaks
          - htop
          - keychain
          - neovim
          - snapd
          - strace
          - the_silver_searcher
      tags: [packages]
    - name: snap symlink (for classic)
      become: yes
      file:
        src: /var/lib/snapd/snap
        dest: /snap
        owner: root
        group: root
        state: link
      tags: [packages]
    - name: snap packages
      become: yes
      snap:
        name:
          - postman
          - spotify
      tags: [packages]
    - name: snap install classic packages
      become: yes
      snap:
        name:
          - code
          - go
          - intellij-idea-community
          - slack
        classic: yes
      tags: [packages]
    - name: Deploy dotfiles
      include_tasks: ../tasks/dotfiles.yml

    - name: Setup neovim
      include_tasks: ../tasks/neovim.yml

    - name: bash-my-aws
      git:
        repo: git@github.com:bash-my-universe/bash-my-aws.git
        dest: "{{ ansible_user_dir }}/.bash-my-aws"
      tags: [dotfiles]
